*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    background-color: #0F1113;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__seccion-contacto{
    display: flex;
    flex-direction: column;
}
.footer__seccion-contacto div {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer__seccion-contacto-imgs{
    width: 40px;
    height: 40px;
}
.footer__img-logo{
    margin-top: 20px;
    width: 150px;
    height: 120px;
}

.footer__seccion-redes img{
    margin: 20px;
    background-color: #192130;
    padding: 10px;
    border-radius: 50%;
}
.footer__derechos{
    font-weight: 400;
    font-size: 18px;
    margin: 30px;
}

@media (width > 968px){
    .footer__seccion-contacto{
        display: flex;
        flex-direction: row;
        gap: 50px;
        margin: 40px;
    }
}